# Node.js dependencies
node_modules/

# Compiled C programs
*.o
backend/c_programs/rsa_keygen
backend/c_programs/rsa_encrypt
backend/c_programs/rsa_decrypt

# Environment files
.env

# IDE specific files
.vscode/
*.code-workspace

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Build directories
dist/
build/